<!DOCTYPE html>
<!-- ==============================
    Project:        Metronic "Aircv" Frontend Freebie - Responsive HTML Template Based On Twitter Bootstrap 3.3.4
    Version:        1.0
    Author:         KeenThemes
    Primary use:    Corporate, Business Themes.
    Email:          support@keenthemes.com
    Follow:         http://www.twitter.com/keenthemes
    Like:           http://www.facebook.com/keenthemes
    Website:        http://www.keenthemes.com
    Premium:        Premium Metronic Admin Theme: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
================================== -->
<html lang="en" class="no-js">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css"/>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <!-- PAGE LEVEL PLUGIN STYLES -->
    <link href="css/animate.css" rel="stylesheet">

    <!-- THEME STYLES -->
    <link href="css/layout.css" rel="stylesheet" type="text/css"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->

<!-- BODY -->
<body id="body" data-spy="scroll" data-target=".header">

<!--========== HEADER ==========-->
<header class="header navbar-fixed-top">
    <!-- Navbar -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="menu-container js_nav-item">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon"></span>
                </button>

                <!-- Logo -->
                <div class="logo">
                    <a class="logo-wrap" href="#body">
                        <img class="logo-img logo-img-main" src="img/logo.png" alt="Asentus Logo">
                        <img class="logo-img logo-img-active" src="img/logo-dark.png" alt="Asentus Logo">
                    </a>
                </div>
                <!-- End Logo -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav navbar-nav-right">
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#body">Home</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#about">About</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#experience">Experience</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Navbar Collapse -->
        </div>
    </nav>
    <!-- Navbar -->
</header>
<!--========== END HEADER ==========-->

<!--========== SLIDER ==========-->
<div class="promo-block parallax-window" data-parallax="scroll" data-image-src="img/1920x1080/CatalinaMain.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="promo-block-divider">
                    <h1 class="promo-block-title">Catalina <br/> Ospina</h1>
                    <p class="promo-block-text">Pediatric Nursing Assistant &amp; Researcher</p>
                </div>
                <ul class="list-inline">
                    <li><a href="https://linkedin.com/in/pcospina" class="social-icons"><i class="icon-social-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
<!--========== SLIDER ==========-->

<!--========== PAGE LAYOUT ==========-->
<!-- About -->
<div id="about">
    <div class="container content-lg">
        <div class="row">
            <div class="col-sm-3 sm-margin-b-30">
                <div class="text-right sm-text-left">
                    <h2 class="margin-b-0">Bio</h2>
                    <p>I believe in helping those that cannot help themselves</p>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <div class="margin-b-60">
                    <p>
                        I'm Catalina Ospina, I am a graduate from Clemson University seeking
                        a challenging laboratory research position that will allow me to conduct a variety of experiments
                        and other chemical and biological tests. My main expertise are related but not limited to: research of scientific journals, use of
                        light microscope, and usage of micropipettes, basic dissections, and simple
                        versus gram staining.
                    </p>
                    <p>
                        My long term goals include: being able to provide for my future dogs and being able to work as a Pediatrician for disenfranchised
                        children in neglected communities.
                    </p>
                </div>

                <!-- Progress Box -->
                <div class="progress-box">
                    <h5>Vital Sign Acquisition <span class="color-heading pull-right">85%</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-color-base" role="progressbar" data-width="85"></div>
                    </div>
                </div>
                <div class="progress-box">
                    <h5>Spanish Proficiency <span class="color-heading pull-right">96%</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-color-base" role="progressbar" data-width="96"></div>
                    </div>
                </div>
                <div class="progress-box">
                    <h5>French Proficiency <span class="color-heading pull-right">35%</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-color-base" role="progressbar" data-width="35"></div>
                    </div>
                </div>
                <div class="progress-box">
                    <h5>Knowledge of Math and Sciences <span class="color-heading pull-right">80%</span></h5>
                    <div class="progress">
                        <div class="progress-bar bg-color-base" role="progressbar" data-width="80"></div>
                    </div>
                </div>
                <!-- End Progress Box -->
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
<!-- End About -->

<!-- Experience -->
<div id="experience">
    <div class="bg-color-sky-light" data-auto-height="true">
        <div class="container content-lg">
            <div class="row">
                <div class="col-sm-3 sm-margin-b-30">
                    <div class="text-right sm-text-left">
                        <h2 class="margin-b-0">Experience</h2>
                        <p>Batman would be jealous.</p>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                    <div class="row row-space-2 margin-b-4">
                        <div class="col-md-4 md-margin-b-4">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-heart"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Pediatric Nursing Assistant</h3>
                                    <p class="margin-b-5">At Maxim Health Care I provide high-quality patient care for in home-health
                                        care settings. during my time here, I have been praised for my thoroughness in updating patient records
                                        as well as my communication skills with the team.
                                    </p>
                                </div>
                                <a href="https://www.maximhealthcare.com" class="content-wrapper-link"></a>
                            </div>
                        </div>
                        <div class="col-md-4 md-margin-b-4">
                            <div class="service bg-color-base wow zoomIn" data-height="height" data-wow-duration=".3" data-wow-delay=".1s">
                                <div class="service-element">
                                    <i class="service-icon color-white icon-chemistry"></i>
                                </div>
                                <div class="service-info">
                                    <h3 class="color-white">Certified Nursing Assistant</h3>
                                    <p class="color-white margin-b-5">At Brightstar Health Care, I focused on taking care of special needs kids to the best
                                    of my ability. I was recognized for my service here by my clients family and asked to move to Maxim Health Care because of my loyal service
                                        and dedication to excellent care.
                                    </p>
                                </div>
                                <a href="http://www.brightstarcare.com/" class="content-wrapper-link"></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-graduation"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Clemson - B.S Wildlife and Fisheries Biology </h3>
                                    <p class="margin-b-5">At Clemson University, I did numerous challenging tasks encompassing biological systems,
                                    chemistry, and mathematical principles. A foundation that I've used in my endeavours henceforth </p>
                                </div>
                                <a href="http://clemson.edu" class="content-wrapper-link"></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-chemistry"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Campbell University </h3>
                                    <p class="margin-b-5">
                                        At Campbell, I further enriched my education by taking rigorous classes in Organic Chemistry and Physics to even
                                        further improve my techincal abilities.
                                    </p>
                                </div>
                                <a href="http://clemson.edu" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <!--// end row -->
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
</div>
<!-- End Experience -->

<!-- Resume -->
<div id="experience">
    <div class="bg-color-sky-light" data-auto-height="true">
        <div class="container content-lg">
            <div class="row">
                <div class="col-sm-3 sm-margin-b-30">
                    <div class="text-right sm-text-left">
                        <h2 class="margin-b-0">Resume</h2>
                        <p>Check Me Out</p>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                    <div class="row row-space-2 margin-b-4">
                        <div class="col-md-4 md-margin-b-4">
                            <br>
                            <div class="btn-default btn" onclick="window.location.href = '/CatalinaOspinaResume.pdf'">Download My Resume!</div>
                        </div>
                    </div>
                    <!--// end row -->
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
</div>
<!-- End Resume -->


<!-- Contact -->
<div id="contact">
    <div class="bg-color-sky-light">
        <div class="container content-lg">
            <div class="row">
                <div class="col-sm-3 sm-margin-b-30">
                    <div class="text-right sm-text-left">
                        <h2 class="margin-b-0">Contacts</h2>
                        <p>Reach Out!</p>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-1">
                    <div class="row">
                        <div class="col-md-3 col-xs-6 md-margin-b-30">
                            <h5>Location</h5>
                            <a href="#">Raleigh, North Carolina</a>
                        </div>
                        <div class="col-md-3 col-xs-6 md-margin-b-30">
                            <h5>Phone</h5>
                            <a href="#">+1 919 339 81 32</a>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <h5>Email</h5>
                            <a href="mailto:pcospina@clemson.edu">pospina[at]clemson[dot]edu</a>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <h5>Web</h5>
                            <a href="#">pcospina.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
</div>
<!-- End Contact -->
<!--========== END PAGE LAYOUT ==========-->

<!--========== FOOTER ==========-->
<footer class="footer">
    <div class="content container">
        <div class="row">
            <div class="col-xs-6">
                <img class="footer-logo" src="img/logo-dark.png" alt="Aircv Logo">
            </div>
            <div class="col-xs-6 text-right sm-text-left">
                ©&nbsp;2017
            </div>
        </div>
        <!--// end row -->
    </div>
</footer>
<!--========== END FOOTER ==========-->

<!-- Back To Top -->
<a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

<!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- CORE PLUGINS -->
<script src="vendor/jquery.min.js" type="text/javascript"></script>
<script src="vendor/jquery-migrate.min.js" type="text/javascript"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<!-- PAGE LEVEL PLUGINS -->
<script src="vendor/jquery.easing.js" type="text/javascript"></script>
<script src="vendor/jquery.back-to-top.js" type="text/javascript"></script>
<script src="vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
<script src="vendor/jquery.wow.min.js" type="text/javascript"></script>
<script src="vendor/jquery.parallax.min.js" type="text/javascript"></script>
<script src="vendor/jquery.appear.js" type="text/javascript"></script>
<script src="vendor/masonry/jquery.masonry.pkgd.min.js" type="text/javascript"></script>
<script src="vendor/masonry/imagesloaded.pkgd.min.js" type="text/javascript"></script>

<!-- PAGE LEVEL SCRIPTS -->
<script src="js/layout.min.js" type="text/javascript"></script>
<script src="js/components/progress-bar.min.js" type="text/javascript"></script>
<script src="js/components/masonry.min.js" type="text/javascript"></script>
<script src="js/components/wow.min.js" type="text/javascript"></script>

</body>
<!-- END BODY -->
</html>